/* Write your styles here */

/* Dark navbar */
.navbar-default {
    background-color: #333;
    border-color: #333;
}

/* Nav Links */
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

/* Orbit three column grid */
@media (min-width: 769px){
  .article-list.three-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
  .article-list.two-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
  /* Author Page */
  .users .author-info-section,
  #author-page .author-info-section{
    display: grid;
    grid-template-columns: 120px 1fr;
  }
  .users .author-info-section h3,
  #author-page .author-info-section h3{ margin-top: 0; }
}
@media(max-width: 768px){
  .article-list.three-list > li,
  .article-list.two-list > li{
    margin-bottom: 20px
  }
}
.article-list.three-list .article-content,
.article-list.two-list .article-content{
  background-color: #f7f7f7;
  padding: 25px 20px;
  min-height: 300px;
}
.article-list.three-list a,
.article-list.two-list a{
  display: block;
  padding: 0;
  border: 0;
}
.article-list.three-list .article-content h4,
.article-list.two-list .article-content h4{
    line-height: 1.3;
    font-size: 1.45em;
}
.article-list.three-list .article-featured-image,
.article-list.two-list .article-featured-image{
  max-height: 200px;
  overflow: hidden;
  background: #eee;
}
.article-list.three-list .article-featured-image img,
.article-list.two-list .article-featured-image img{
  max-width: 100%;
  height: auto;
}
/* Categories section */
.article-list.three-list .categories,
.article-list.two-list .categories{
  font-weight: bold;
}

.article-list.three-list .post-categories,
.article-list.two-list .post-categories{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.article-list.three-list .post-categories li,
.article-list.two-list .post-categories li{
  display: inline-block;
}
